<div class="container mt-5">

  <div class="row">

    <div class="col-sm-7">

      <mat-toolbar>
        <button mat-raised-button style="background-color: #c72c41" disabled> <mat-icon style="color: white">add_box</mat-icon> </button>
        <span style="display:inline-block; width: 10px;"></span>
        <div class="col-sm-6">
            <h1> 
                <span> Añadir Organización </span>
            </h1>
        </div>
      </mat-toolbar>

      <div class="card mt-2">
        <div class="card-body">
          <h2 class="titulo mb-3">Crear organizacion</h2>
          <mat-vertical-stepper [linear]="false" #stepper>

            <mat-step>
              <ng-template matStepLabel>Nombre</ng-template>
              <div class="input-group mt-4 mb-3">
                <span class="input-group-text" id="addon-name">Nombre</span>
                <input class="form-control" [(ngModel)]="organization.name" (keyup)="validate()" placeholder="Ej: Peluquería Lex Luthor" aria-describedby="addon-name">
              </div>
              <p class="alert alert-warning" *ngIf="!organization.name">Introduce un nombre</p>
              <div>
                <button mat-raised-button style="background-color: #c72c41;color:white;" matStepperNext>Siguiente</button>
              </div>
            </mat-step>

            <mat-step>
              <ng-template matStepLabel>Responsables</ng-template>
              <p class="mt-2">ID Gerente</p>
              <div class="input-group mt-4 mb-3">
                <span class="input-group-text" id="addon-id">ID</span>
                <input class="form-control" [(ngModel)]="organization.adminUID" (keyup)="checkIfIDValid($event)" aria-describedby="addon-id">    
              </div>
              <p class="alert alert-warning" *ngIf="!validID">Introduce un ID válido</p>
              <div>
                <button mat-raised-button style="background-color: #c72c41;color:white;" matStepperPrevious>Anterior</button>
                <span style="display:inline-block; width: 10px;"></span>
                <button mat-raised-button style="background-color: #c72c41;color:white;" matStepperNext>Siguiente</button>
              </div>
            </mat-step>



            <mat-step>
              <ng-template matStepLabel>Información</ng-template>
              <p class="mt-2">Correo Electrónico</p>
              <div class="input-group mt-4 mb-3">
                <span class="input-group-text" id="addon-email">@</span>
                <input class="form-control" type="email" [(ngModel)]="organization.email" placeholder="Ej: ejemplo@gmail.com" aria-describedby="addon-email">
              </div>
              <p class="mt-2">Número Telefónico</p>
              <div class="input-group mt-4 mb-3">
                <span class="input-group-text" id="addon-phone">+591</span>
                <input class="form-control"  type="number" [(ngModel)]="organization.phone" placeholder="Ej: 67380060" aria-describedby="addon-phone">
              </div>
              <p class="mt-2">Número de Identificación Tributaria</p>
              <div class="input-group mt-4 mb-3">
                <span class="input-group-text" id="addon-nit">NIT</span>
                <input class="form-control"  type="number" [(ngModel)]="organization.nit" placeholder="Ej: 123456789012" aria-describedby="addon-nit">
              </div>
              <div>
                <button mat-raised-button style="background-color: #c72c41;color:white;" matStepperPrevious>Anterior</button>
                <span style="display:inline-block; width: 10px;"></span>
                <button mat-raised-button style="background-color: #c72c41;color:white;" matStepperNext>Siguiente</button>
              </div>
            </mat-step>

            <mat-step>
              <ng-template matStepLabel>Logotipo</ng-template>
              <div class="card mt-2">
                <div class="card-body">
                    <input type="file" accept="image/*" (change)="picked($event)" class="fileInputProfile">
                    <div class="img-space">
                        <ng-container *ngIf="imageSource; else elseTemplate">
                            <img [src]="imageSource" />
                        </ng-container>
                        <ng-template #elseTemplate>
                            <img src="../../../../assets/img/noImage.png" class="img-responsive">
                        </ng-template>
                    </div>
                </div>
              </div>
              <div class="mt-2">
                <button mat-raised-button style="background-color: #c72c41;color:white;" matStepperPrevious>Anterior</button>
                <span style="display:inline-block; width: 10px;"></span>
                <button mat-raised-button style="background-color: #c72c41;color:white;" matStepperNext>Siguiente</button>
              </div>
            </mat-step>


            <mat-step>
              <ng-template matStepLabel>Ubicación</ng-template>
              <div class="input-group mt-4 mb-3">
                <span class="input-group-text" id="addon-Departamento">Departamento</span>
                  <input type="text" 
                  class="form-control" 
                  [(ngModel)]="organization.state"
                  aria-describedby="addon-Departamento"/>
              </div>
              <div class="input-group mt-4 mb-3">
                <span class="input-group-text" id="addon-Ciudad">Ciudad</span>
                  <input type="text" 
                  class="form-control" 
                  [(ngModel)]="organization.city"
                  required 
                  aria-describedby="addon-Ciudad"/>
              </div>
              <div class="input-group mt-4 mb-3">
                <span class="input-group-text" id="addon-Dirección">Dirección</span>
                  <input type="text" 
                  class="form-control" 
                  [(ngModel)]="organization.adress"
                  required
                  aria-describedby="addon-Dirección" />
              </div>
              <div class="input-group mt-4 mb-3">
                <span class="input-group-text" id="addon-Latitud">Latitud</span>
                  <input  type="number" 
                  class="form-control" 
                  [(ngModel)]="organization.latitude"
                  required
                  placeholder="Ej: -21.533836"
                  aria-describedby="addon-Latitud"  />
              </div>
              <div class="input-group mt-4 mb-3">
                <span class="input-group-text" id="addon-Longitud">Longitud</span>
                  <input  type="number" 
                  class="form-control" 
                  [(ngModel)]="organization.longitude"
                  required
                  placeholder="Ej: -64.734288"
                  aria-describedby="addon-Longitud" />
              </div>
              <div>
                <button mat-raised-button style="background-color: #c72c41;color:white;" matStepperPrevious>Anterior</button>
                <span style="display:inline-block; width: 10px;"></span>
                <button mat-raised-button style="background-color: #c72c41;color:white;" matStepperNext>Siguiente</button>
              </div>
            </mat-step>

            <mat-step>
              <ng-template matStepLabel>Horario</ng-template>
              <div class="mt-4" *ngFor="let day of weekdays; index as i">
                <h2>{{weekdays[i]}}</h2>
                <div class="row mt-1">
                  <div class="col">
                    <h3> 
                      Abierto? 
                      <mat-slide-toggle [(ngModel)]="businessHours[i].open_half" (click)="disable(i)"></mat-slide-toggle>
                    </h3>     
                  </div>
                  <div class="col">
                    <h3>
                      Turno Continuo?
                      <mat-slide-toggle [(ngModel)]="businessHours[i].open_full" [disabled]="!businessHours[i].open_half"></mat-slide-toggle>
                    </h3>  
                  </div>
                </div>


                <div class="row mt-1" *ngIf="businessHours[i].open_half">

                  <div class="col">
                    <mat-form-field>
                      <mat-label>From</mat-label>
                      <mat-select [(ngModel)]="businessHours[i].from_half">
                        <mat-option *ngFor="let hour of hours" [value]="hour" [disabled]="!businessHours[i].open_half" (click)="change(i)">{{hour}}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col">
                    <mat-form-field>
                      <mat-label>To</mat-label>
                      <mat-select [(ngModel)]="businessHours[i].to_half">
                        <mat-option *ngFor="let hour of hours" [value]="hour" [disabled]="!businessHours[i].open_half" (click)="change(i)">{{hour}}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>

                  <div class="row" *ngIf="!businessHours[i].open_full">
                    <h3 style="text-align: justify;">- Horario Adicional -</h3>
                    <div class="col">
                      <mat-form-field>
                        <mat-label>From</mat-label>
                        <mat-select [(ngModel)]="businessHours[i].from_full">
                          <mat-option *ngFor="let hour of hours" [value]="hour" [disabled]="businessHours[i].open_full" (click)="change(i)">{{hour}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="col">
                      <mat-form-field>
                        <mat-label>To</mat-label>
                        <mat-select [(ngModel)]="businessHours[i].to_full">
                          <mat-option *ngFor="let hour of hours" [value]="hour" [disabled]="businessHours[i].open_full" (click)="change(i)">{{hour}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </div>
              <p class="alert alert-warning" *ngIf="validSchedule == false">El horario establecido cuenta con algunos errores, verifique e intente nuevamente</p>
              <div class="mt-4">
                <button mat-raised-button style="background-color: #c72c41;color:white;" matStepperPrevious>Anterior</button>
                <span style="display:inline-block; width: 10px;"></span>
                <button mat-raised-button style="background-color: #c72c41;color:white;" matStepperNext>Siguiente</button>
              </div>
            </mat-step>

            <mat-step>
              <ng-template matStepLabel>Completado</ng-template>
              <h4>Completa el formulario presionando en "Guardar"</h4>
              <p class="alert alert-warning" *ngIf="!validator">El formulario cuenta con algunos errores, verifique e intente nuevamente</p>
              <div>
                <button mat-raised-button style="background-color: #c72c41;color:white;" matStepperPrevious>Anterior</button>
                <span style="display:inline-block; width: 10px;"></span>
                <button mat-raised-button style="background-color: #c72c41;color:white;" (click)="createOrganization()" [disabled]="!validator">Guardar</button>
              </div>
            </mat-step>

          </mat-vertical-stepper>
        </div>
      </div>

    </div>
    
    <div class="col-sm-5">

      <mat-toolbar>
        <button mat-raised-button style="background-color: #c72c41" disabled> <mat-icon style="color: white">location_city</mat-icon> </button>
        <span style="display:inline-block; width: 10px;"></span>
        <div class="col-sm-6">
            <h1> 
                <span> Todas las Organizaciones </span>
            </h1>
        </div>
      </mat-toolbar>

      <div class="card mt-2">
        <div class="card-body">

          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="width: 100%;">

            <ng-container matColumnDef="Nombre">
                <th mat-header-cell *matHeaderCellDef > Nombre </th>
                <td mat-cell *matCellDef="let organization"> {{organization.name}} </td>
            </ng-container>
            <ng-container matColumnDef="Acciones">

                <th mat-header-cell *matHeaderCellDef> Acciones </th>
                <td mat-cell *matCellDef="let organization"> 
                    <button mat-raised-button style="background-color: #c72c41;color:white;" (click)="goToEdit(organization.uid)">
                      <mat-icon> list_alt</mat-icon>
                    </button>
                </td>                    

            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" ></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>


        </div>
      </div>
      

    </div>

  </div>
   
</div>

