<mat-toolbar color="primary">

  <button mat-button (click)="goTo('dashboard')"> SACAS </button>

  <span style="flex: 1 1 auto;"></span>

  <span  *ngIf="user as user">
    <a class="nav-link active" aria-current="page" > {{(user.displayName)}}</a>
  </span>
  <button mat-icon-button [matMenuTriggerFor]="menu" class="example-icon">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">

    <button mat-menu-item [matMenuTriggerFor]="SuperAdmin" *ngIf="currentUser.uid == 'M2224w0b8eMKwPhRgoKd06tE4tH3'">
      <mat-icon>lock</mat-icon>
      <span>SuperAdmin</span>
    </button>


    <mat-menu #SuperAdmin="matMenu">
      <button mat-menu-item (click)="goTo('organizations')">
        <mat-icon>lock</mat-icon>
        <span>Organizacion | Admin</span>
      </button>
  
      <button mat-menu-item (click)="goTo('users')">
        <mat-icon>lock</mat-icon>
        <span>Usuarios | Admin</span>
      </button>
    </mat-menu>

    <hr *ngIf="currentUser.uid == 'M2224w0b8eMKwPhRgoKd06tE4tH3'">

    <button mat-menu-item (click)="goTo('admin-org')" *ngIf="currentUser.uid == 'M2224w0b8eMKwPhRgoKd06tE4tH3' || organizationList.length > 0">
      <mat-icon>business_center</mat-icon>
      <span>Administrator</span>
    </button>
    
    <hr *ngIf="currentUser.uid == 'M2224w0b8eMKwPhRgoKd06tE4tH3' || organizationList.length > 0">

    <button mat-menu-item *ngIf="currentUser.uid" (click)="LogOut()">
      <mat-icon>power_settings_new</mat-icon>
      <span>Cerrar Sesión</span>
    </button>

    <button mat-menu-item *ngIf="!currentUser.uid" (click)="goTo('')">
      <mat-icon>power_settings_new</mat-icon>
      <span>Iniciar Sesión</span>
    </button>

  </mat-menu>

</mat-toolbar>