
<div class="container mt-5">
  
    <mat-toolbar>
      <button mat-raised-button style="background-color: #c72c41" > <mat-icon style="color: white">location_city</mat-icon> </button>
      <span style="display:inline-block; width: 10px;"></span>
      <div class="col-sm-6">
          <h1> 
              <span> Tus Organizaciones </span>
          </h1>
      </div>
    </mat-toolbar>

    <div class="card mt-4" style="background-color: #2d132c; border-radius: 10px;" *ngFor="let organization of organizationList">
        <div class="card-body">
          <div class="row">
            <div class="col-md-5" style="text-align:center"> 
              <div class="img-space">
                <ng-container *ngIf="organization.logoBase64; else elseTemplate">
                  <img [src]="organization.logoBase64"/>
                </ng-container>
                <ng-template #elseTemplate>
                    <img src="../../../../assets/img/noImage.png" class="img-responsive">
                </ng-template>
              </div>
            </div>
            <div class="col-md-7">
                  <h1 style="color: white" >{{organization.name}}</h1>
                  <hr style="color: white">
                  <button mat-raised-button style="background-color: #c72c41;color:white;" (click)="goTo(organization.uid)" >Administrar Tickets</button>
                  <span style="display:inline-block; width: 10px;"></span>
                  <button mat-raised-button style="background-color: #c72c41;color:white;" (click)="goToEdit(organization.uid)" ><mat-icon>settings</mat-icon></button>
            </div>
          </div>
        </div>
    </div>
    
</div>

